
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewBag.Title = "Tutorial - Page 2";
}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-area="Help" asp-controller="Home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-action="Index" asp-controller="Tutorial" asp-area="Help" asp-route-id="Page1">Tutorial</a>
    </li>
</ul>
<p>Here is the second thing you need to know about my website.</p>
<div class="d-flex row"></div>
    <a class="btn btn-primary col-1" asp-action="Index" asp-controller="Tutorial" asp-area="Help" asp-route-id="Page1">Prev</a>
    <a class="btn btn-primary col-1" asp-action="Index" asp-controller="Tutorial" asp-area="Help" asp-route-id="Page3">Next</a>
</div>