@{
    ViewData["Title"] = "Uncle Leo's Pizza";
}
<style>
    body{
        background-color: lightgray;
    }
    .bungee-regular {
        font-family: "Bungee", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-400 {
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }
    #hero {
        background-image: url('@Url.Content("~/images/stone.jpg")');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        border-bottom: .25rem solid #174;
        width: 100vw;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .card{
        flex-grow:1;
    }

    .btn-primary {
        color: #174;
        background-color: #fff;
        border-color: #174;
        border: .1rem solid;
        text-shadow: .25px .25px #333
    }

    .btn-danger {
        color: #fff;
        background-color: #d12;
        border-color: #d12;
        text-shadow: .25px .25px #333
    }
    .card{
        border: .25rem solid #174;
        border-radius: .5rem;
        margin:.25rem;
        box-shadow: -1px 1px #333;
    }
    .card-title,.card-subtitle,.card-heading, .card-header{
        background-color: #174;
        color:#fff;
        font-family: "Pacifico", cursive;
        font-size:larger;
        text-shadow: -1px 1px #333
    }
    .card-text{
        font-family: "Roboto", sans-serif;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    #hero h2{
        color: #d12;
        text-shadow:-1px 1px #fff;
    }

</style>

<div id="hero" class="">
    <h2 class="display-1 text-center pacifico-regular px-2 py-3 ">Family-Owned & Operated</h2>
    <img class="flex-shrink-1 img-fluid m-3 py-2 px-5 mx-auto d-block" src="~/images/bannerLogo.png" alt="Uncle Leo's"/>

</div>


<section id="Specials" class="my-3 py-3">

    <div class="section-title m-1">
        <h3 class="pacifico-regular mb-3 display-5">Specials</h3>
        <p class="roboto-400 font-monospace">Available only on Call-In Orders</p>
    </div>

    <div class="d-flex flex-wrap ">
        <div class="card" style="width: 18rem;">
            <div class="card-heading p-2">
                <h5 class="card-title">Everyday Special</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">$22.99</h6>
            </div>
            <div class="card-body">
                <p class="card-text">2 Large 14" 1-Topping Pizzas</p>
                <p class="card-text font-monospace">Please mention this coupon when ordering. Can’t combine with other offers. One coupon per order.</p>
            </div>
        </div>
        <div class="card" style="min-width: 18rem;">
            <div class="card-heading p-2">
                <h5 class="card-title">Tuesday & Wednesday Special</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Buy One, Get One 1/2 OFF.</h6>
            </div>
            <div class="card-body">
                <p class="card-text">Any Two Pizzas</p>
                <p class="card-text">(equal of lesser value, plus tax)</p>
                <p class="card-text font-monospace">Please mention this coupon when ordering. Can’t combine with other offers. One coupon per order.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-heading p-2">
                <h5 class="card-title">Taste of Leo's Special</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">$41.99</h6>          
            </div>
            <div class="card-body flex-column">
                <p class="card-text">16" Uncle Leo's Deluxe w/ an Order of Wings and Spinnoci</p>
                <p class="card-text font-monospace">Please mention this coupon when ordering. Can’t combine with other offers. One coupon per order.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-heading p-2">
                <h5 class="card-title">Sunday Special</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">$55.99</h6>
            </div>
            <div class="card-body">
                <p class="card-text">2 X-Large 16" 1-Topping Pizzas w/ 2 Orders of Wings and a 2 Liter</p>
                <p class="card-text font-monospace">Please mention this coupon when ordering. Can’t combine with other offers. One coupon per order.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-heading p-2">
                <h5 class="card-title">16" Pizza, Wings,and T-Rav</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">$33.99</h6>
            </div>
            <div class="card-body">
                <p class="card-text">16″ 2-Topping Pizza w/ an Order of Wings and Toasted Ravioli.</p>
                <p class="card-text font-monospace">Please mention this coupon when ordering. Can’t combine with other offers. One coupon per order.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-heading p-2">
                <h5 class="card-title">9" Pizza Lunch Special</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">$9.99</h6>
            </div>
            <div class="card-body">
                <p class="card-text">9" 1-Topping Pizza w/ a Side Salad and Beverage</p>
                <p class="card-text font-monospace">Please mention this coupon when ordering. Can’t combine with other offers. One coupon per order.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-heading p-2">
                <h5 class="card-title">Italian Sub Lunch Special</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">$9.99</h6>
            </div>
            <div class="card-body">
                <p class="card-text">7" Italian Sub w/ a Side of Fries and Beverage</p>
                <p class="card-text font-monospace">Please mention this coupon when ordering. Can’t combine with other offers. One coupon per order.</p>
            </div>
        </div>
        
    </div>
</section>

<div id="ULReviews">

</div>
<div id="Hours" class=" mb-2 pb-5">
    <div class="section-title m-1">
        <h3 class="pacifico-regular mb-3 display-5">Hours</h3>
    </div>
    <div class="d-flex flex-row flex-wrap gap-3">
        <div class="card flex-fill" style="min-width: 250px; max-width: 350px;">
            <div class="card-header">
                 Store Hours
            </div>
            <div class="card-body">
                <ul>
                    <li>Mon: Closed</li>
                    <li>Tue - Thu: 11am - 9pm</li>
                    <li>Fri - Sat: 11am - 10:30pm</li>
                    <li>Sun: 11am - 8pm</li>
                </ul>
                <a class="btn btn-success shadow" href="tel:+131484527155">(314) 842-7155</a>
            </div>
        </div>
        <div class="card flex-fill" style="min-width: 250px; max-width: 350px;">
            <div class="card-header">
                Online Ordering
            </div>
            <div class="card-body">
                <ul>
                    <li>Mon: Closed</li>
                    <li>Tue - Thu: 11am - 8pm</li>
                    <li>Fri - Sat: 11am - 9:30pm</li>
                    <li>Sun: 11am - 7pm</li>
                </ul>
                <a class="btn btn-danger shadow" href="https://uncleleos.hrpos.heartland.us/menu">ORDER ONLINE</a>
            </div>
        </div>
    </div>
</div>
