<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UncleLeosPizza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UncleLeosPizza.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        
        <div class="flavor-ribbon">
            <ul>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Uncle Leo's Deluxe</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Chicken D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Sausage Special</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Joey's Fave</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Mariants Margerita</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Veggie D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Wings</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Rosemary's Olives</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Italian Sub</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Pasta Carbonara</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Homemade Meatballs</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Canneloni</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Burger</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Fungo Sauce</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Deluxe Chef Salad</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Toasted Ravioli</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Spinnoci </span>
                </li>
            </ul>
            <ul aria-hidden="true">
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Uncle Leo's Deluxe</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Chicken D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Sausage Special</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Joey's Fave</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Mariants Margerita</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Veggie D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Wings</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Rosemary's Olives</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Italian Sub</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Pasta Carbonara</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Homemade Meatballs</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Canneloni</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Burger</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Fungo Sauce</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Deluxe Chef Salad</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Toasted Ravioli</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Spinnoci </span>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="nav-brand ">Uncle Leo's</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon light"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-around">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span class="navbar-links">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="#Specials" asp-controller="Home" asp-action="Index"><span class="navbar-links">Specials</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index"><span class="navbar-links">Menu</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index"><span class="navbar-links">About</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item mx-1">
                            <a class="nav-btn btn btn-primary" href="tel:+131484527155"><i class="bi bi-telephone-fill"></i>(314) 842-7155</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-btn btn btn-danger fw-bold" asp-area="" asp-controller="OnlineOrdering" asp-action="Index"><span class="nav-btn">ORDER ONLINE</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container">
     
            &copy; 2025 - UncleLeosPizza - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
