<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UncleLeosPizza</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UncleLeosPizza.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        
        <div class="flavor-ribbon">
            <ul class="d-flex align-items-center">
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Uncle Leo's Deluxe</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Chicken D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Sausage Special</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Joey's Fave</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Mariants Margerita</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Veggie D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Wings</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Rosemary's Olives</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Italian Sub</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Pasta Carbonara</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Homemade Meatballs</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Canneloni</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Burger</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Fungo Sauce</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Deluxe Chef Salad</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Toasted Ravioli</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Spinnoci </span>
                </li>
            </ul>
            <ul aria-hidden="true">
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Uncle Leo's Deluxe</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Chicken D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Sausage Special</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Joey's Fave</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Mariants Margerita</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Veggie D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Wings</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Rosemary's Olives</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Italian Sub</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Pasta Carbonara</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Homemade Meatballs</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Canneloni</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Burger</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Fungo Sauce</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Deluxe Chef Salad</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Toasted Ravioli</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Spinnoci </span>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Uncle Leos Pizza</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - UncleLeosPizza - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
