<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pizza Night? Make It Count With Uncle Leo's Pizza [Local, Family-Owned] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UncleLeosPizza.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Pacifico&family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="sticky-top">
        
        <div class="flavor-ribbon">
            <ul>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Uncle Leo's Deluxe</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Chicken D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Sausage Special</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Joey's Fave</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Mariants Margerita</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Veggie D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Wings</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Rosemary's Olives</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Italian Sub</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Pasta Carbonara</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Homemade Meatballs</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Canneloni</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Burger</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Fungo Sauce</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Deluxe Chef Salad</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Toasted Ravioli</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Spinnoci </span>
                </li>
            </ul>
            <ul aria-hidden="true">
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Uncle Leo's Deluxe</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Chicken D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Sausage Special</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Joey's Fave</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Mariants Margerita</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Veggie D'Light</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Wings</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Rosemary's Olives</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Italian Sub</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Pasta Carbonara</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Homemade Meatballs</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Canneloni</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Failoni Burger</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Fungo Sauce</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Deluxe Chef Salad</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Toasted Ravioli</span>
                </li>
                <li>
                    <span class="flavor-icon"></span>
                    <span class="flavor-item">Spinnoci </span>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="nav-brand ">Uncle Leo's</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="nav-toggler bi-plus-lg text-light"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-around">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><span class="navbar-links">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Menu" asp-action="Index"><span class="navbar-links">Menu</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About"><span class="navbar-links">About</span></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-row align-content-center">
                        <li class="nav-item mx-1">
                            <a class="nav-btn btn btn-primary shadow-lg" href="tel:+131484527155">(314) 842-7155</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-btn btn btn-outline-danger border-2 fw-bold bg-light shadow-lg" asp-area="" asp-controller="OnlineOrdering" asp-action="Index"><span class="nav-btn">ORDER ONLINE</span></a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">
                                <span class="navbar-links bi-">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-badge" viewBox="0 0 16 16">
                                        <path d="M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                                        <path d="M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492z" />
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="d-flex flex-row">
            <ul>
                <div class="footer-header">About Us</div>
                <li class=""><a>Careers</a></li>
                <li><a>Location</a></li>
            </ul>
            <ul>
                <div>Explore</div>
                <li class=""><a>Online Ordering</a></li>
                <li><a>Gift Cards</a></li>
            </ul>
            <ul>
                <div>Inquiries</div>
                <li class=""><a>Catering</a></li>
                <li><a>FAQs</a></li>
            </ul>
            <ul>
                <div>Contact Us</div>
                <li class=""><a>Phone: (314) 842-7155</a></li>
                <li><a>Email:</a></li>
				<li>facebook</li>
				<li>instagram</li>
            </ul>

        </div>
        <div class="container text-light">
            &copy; 2025 - UncleLeosPizza - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
