/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Flavor Ribbon Start*/
.flavor-ribbon {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #174;
    border-block: 1px solid;
    border-block-color: #CFE;
    overflow: hidden;
    user-select: none;
    --gap: 2rem;
    display: flex;
   align-content:center;
    gap: var(--gap);
}

.flavor-ribbon ul {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top:.75rem;
    align-self:center;
    gap: var(--gap);
    
    animation: scroll 80s linear infinite
}

@keyframes scroll {
    to {
        transform: translateX(-100%); 
    }
}
/*Flavor Ribbon End*/


a .navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    text-decoration: none;
    color: #333;
}

a {
    color: #333;
    font-weight:bold;
}

.btn-primary {
    color: #174;
    background-color: #fff;
    border-color: #174;
    border: .1rem solid;
}
.btn-danger {
    color:#fff;
    background-color: #711;
    border-color:#711;
}
.navbar {
    background-color: #FFF;
    border-bottom: 3px solid;
    border-color: #174;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #346333;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}
.navbar-toggler {
    background-color: #346333;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
