/* _content/UncleLeosPizza/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*Google Fonts*/
.bungee-regular[b-l3kz2um0wq] {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-400[b-l3kz2um0wq] {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.pacifico-regular[b-l3kz2um0wq] {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}




/*Flavor Ribbon Start*/
.flavor-ribbon[b-l3kz2um0wq] {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #174;
    border-block: 1px solid;
    border-block-color: #CFE;
    overflow: hidden;
    user-select: none;
    --gap: 2rem;
    display: flex;
   align-content:center;
    gap: var(--gap);
}

.flavor-ribbon ul[b-l3kz2um0wq] {
    list-style: none;
    flex-shrink: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top:.75rem;
    align-self:center;
    gap: var(--gap);
    
    animation: scroll-b-l3kz2um0wq 80s linear infinite
}

@keyframes scroll-b-l3kz2um0wq {
    to {
        transform: translateX(-100%); 
    }
}
/*Flavor Ribbon End*/
.navbar-links[b-l3kz2um0wq] {
    font-family: "Roboto", sans-serif;
    font-weight:700;
    color:#174;
    font-size:larger;
}
.nav-brand[b-l3kz2um0wq] {
    text-decoration: none;
    color: #174;
    font-family: "Bungee", sans-serif;
    font-size:larger;
    align-self:center;
}
a.navbar-brand[b-l3kz2um0wq] {
    white-space: normal;
    text-align: center;
    word-break: break-all;

}

a[b-l3kz2um0wq] {
   
    color: #333;
    font-weight: bold;
     font-family: "Roboto", sans-serif;
}

.btn-primary[b-l3kz2um0wq] {
    color: #174;
    background-color: #fff;
    border-color: #174;
    border: .18rem solid;
}
.btn-danger[b-l3kz2um0wq] {
    color: #fff;
    background-color: #711;
    border-color: #711;
}
.navbar[b-l3kz2um0wq] {
    background-color: #FFF;
    border-bottom: 3px solid;
    border-color: #174;
}
.flavor-item[b-l3kz2um0wq] {
    font-family: "Roboto", sans-serif;
}
.nav-btn[b-l3kz2um0wq] {
    font-family: "Roboto", sans-serif;
   
}
.nav-pills .nav-link.active[b-l3kz2um0wq], .nav-pills .show > .nav-link[b-l3kz2um0wq]{
  
    color: #346333;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-l3kz2um0wq] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-l3kz2um0wq] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-l3kz2um0wq] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-l3kz2um0wq] {
    font-size: 1rem;
    line-height: inherit;
}
.navbar-toggler[b-l3kz2um0wq] {
    background-color: #fff;
}
.footer[b-l3kz2um0wq] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
