@model Dictionary<string, string>
@{
	ViewData["Title"] = "Contact";
}

<h1>Contact Me</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Key</th>
                <td>@item.Value</td>
            </tr>
        }
    </tbody>
</table>
